<ul>
<% @rehearsals.each do |rehearsal| %>
  <li><%= link_to rehearsal.display_name, rehearsal_path(rehearsal) %></li>
<% end %>
</ul>
<p>Looking for a past rehearsal? Try the list of 
<%= link_to 'all rehearsals', all_rehearsals_path %>.</p>
