<table border>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Check-in</th>
    <th>Pre-break</th>
    <th>Post-break</th>
    <th>Check-out</th>
  </tr>
  <% @registrations.each do |reg| %>
    <tr>
      <td><%= reg.chorus_number %></td>
      <td><%= reg.performer.name %></td>
      <% %w{checkin pre_break post_break checkout}.each do |type| %>
        <td>
          <% @records[reg.performer.id][type].each do |record| %>
            <%= record %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</dl>
