<style>
@media print {
  @page {
    margin-bottom: 10mm;
    margin-left: 11mm;
    margin-top: 15mm;
    margin-right: 0;
  }

  div#topbar {
    display: none;
  }

  div#content-wrapper {
    margin: 0;
    width: 100%;
  }

  div#print-notes {
    display: none;
  }

  div.printable_card {
    /* print the cards upside-down, because the printer misreads the lanyard
     * slot on the card as the end of the card if it's put in the other way.
     */
    transform: rotate(180deg);
    /* margin-top plus height determines placement, since we're printing
     * upside-down. */
    height: 32mm;
  }
}

div#print-notes {
  margin-bottom: 1em;
}

div.printable_card {
  page-break-before: always;
  width: 3.375in;
  margin: 0;
  padding: 0;
  font-family: "Museo Sans";
  font-weight: 300;
  text-align: right;
  font-size: 5.3mm;
}

div.printable_card p {
  margin: 0;
}

div.printable_card p.name {
  font-weight: 500;
}
</style>
<div id="print-notes">
  TODO(nharper): Put notes here with instructions for printing.
</div>
<% @registrations.each do |registration| -%>
<div class="printable_card">
  <p class="name"><%= name_upcase(registration.performer.name).gsub('-', "\u2011") %></p>
  <p><%= (registration.full_section || '').upcase %></p>
  <p><%= registration.chorus_number %></p>
</div>
<%- end -%>
