<% content_for :head do %>
<%= stylesheet_link_tag "attendance", media: "all" %>
<%= javascript_include_tag "attendance" %>
<% end %>
<div id="tiles">
</div>
<div>
  <button id="save">Save</button>
  <button id="reset">Reset</button>
  <pre id="record"></pre>
</div>
<script>documentLoaded();</script>
</body>
</html>
