<%# TODO(nharper): Need a better name for this css class. %>
<table class="attendance">
  <tr>
    <th>#</th>
    <th>Performer</th>
    <% @rehearsals.each do |rehearsal| -%>
      <th><%= rehearsal.date.strftime('%-m-%d') %></th>
    <% end -%>
  </tr>
  <% @performers.each do |performer| -%>
    <tr>
    <td></td>
    <td><%= performer.name %></td>
    <% @rehearsals.each do |rehearsal| -%>
      <%
        record = @records[performer.id][rehearsal.id] || AttendanceRecord.new
        note = record.notes
        case record.present
        when true
          symbol = '✓'
          display_class = 'present'
        when false
          symbol = '✗'
          display_class = 'absent'
        when nil
          symbol = '?'
          display_class = 'unknown'
        end
        if note
          display_class += ' note'
        end
        attrs = {:class => ['record', display_class]}
        if note
          attrs[:title] = note
        end
      -%>
      <%= content_tag('td', attrs) {symbol} -%>
    <% end -%>
    </tr>
  <% end -%>
</table>
