<table>
  <tr>
    <th>Performer</th>
    <% @rehearsals.each do |rehearsal| %>
      <th><%= link_to rehearsal.slug, rehearsal_attendance_path(rehearsal) %></th>
    <% end %>
  </tr>
  <% @performers.each do |performer| %>
    <tr>
    <td><%= performer.name %></td>
    <% @rehearsals.each do |rehearsal| %>
      <% record = @records[performer.id][rehearsal.id] || AttendanceRecord.new %>
      <td><%= record.present ? 'Present' : '?' %></td>
    <% end %>
    </tr>
  <% end %>
</table>
