<%# TODO(nharper): Need a better name for this css class. %>
<table class="attendance">
  <tr>
    <th>#</th>
    <th>Performer</th>
    <% @rehearsals.each do |rehearsal| -%>
      <th><%= rehearsal.local_date.strftime('%-m-%d') %></th>
    <% end -%>
  </tr>
  <% @registrations.each do |registration| -%>
    <tr>
    <td><%= registration.chorus_number %></td>
    <td><%= registration.performer.name %></td>
    <% @rehearsals.each do |rehearsal| -%>
      <%
        record = @records[registration.performer.id][rehearsal.id] || AttendanceRecord.new
      %>
      <%= record_tag('td', record) %>
    <% end -%>
    </tr>
  <% end -%>
</table>
