/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: #2196f3;
}

#topbar {
  background-color: #f44336;
  color: white;
  box-shadow: 0 0 4px 4px #ccc;
}

#topbar #breadcrumbs {
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}

#topbar #breadcrumbs li {
  padding-top: 0.5em;
  display: inline;
}

#topbar #breadcrumbs li a {
  color: white;
}

#topbar #breadcrumbs li:after {
  content: " >";
}

#topbar #breadcrumbs li:last-child:after {
  display: none;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* border: 1px solid black; */
}

.error {
  padding: 1em;
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
  margin-bottom: 1em;
}

.error .detail.hidden {
  display: none;
}

.login-providers {
  list-style: none;
  padding-left: 0;
}

.login-providers li {
  margin: 1em;
  display: block;
}

.login-providers li a {
  padding: 0.5em;
  background-color: #757575;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #ccc;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.login-providers li a:hover {
  background-color: #9e9e9e;
  text-decoration: underline;
}

/* styles for checkin instructions */
/* TODO(nharper): name conflict with .time below (in cards) */
#checkin-wrapper {
  height: 100%;
  width: 100%;
  background: white;
}

#checkin {
  font-size: 20pt;
}

.time {
  float: right;
}
/* styles for checkin cards (they're not really cards though) */
hr {
  border: 0px;
  border-top: 1px solid #999;
  margin: 5px;
}

.card {
  padding: 5px;
  min-height: 50px;
}

.performer .pic {
  width: 50px;
  height: 50px;
  float: left;
  padding-right: 5px;
}

.performer .name {
  font-weight: bold;
}

.card .time {
  float: right;
}

/* styles for checkin numpad */
div#numpad {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

span.num {
  display: inline-block;
  background-color: #03a9f4;
  width: 30%;
  margin: 1%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
}

span.num {
  font-weight: bold;
}

div#numpad-input {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

span.num#delete {
  background-color: #f44336;
}

span.num#enter {
  background-color: #4caf50;
}

div#numpad-wrap {
  position: fixed;
  left: 0;
  bottom: 80px;
  background-color: white;
  width: 100%;
}
