/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  margin: 0;
}

#topbar {
  background-color: #f44336;
  color: white;
  box-shadow: 0 0 4px 4px #ccc;
}

#topbar #breadcrumbs {
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}

#topbar #breadcrumbs li {
  padding-top: 0.5em;
  display: inline;
}

#topbar #breadcrumbs li a {
  color: white;
}

#topbar #breadcrumbs li:after {
  content: " >";
}

#topbar #breadcrumbs li:last-child:after {
  display: none;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* border: 1px solid black; */
}

.login-provider {
  border: 1px solid black;
}

/* styles for checkin instructions */
/* TODO(nharper): name conflict with .time below (in cards) */
.time {
  float: right;
}
/* styles for checkin cards (they're not really cards though) */
hr {
  border: 0px;
  border-top: 1px solid #999;
  margin: 5px;
}

.card {
  padding: 5px;
  min-height: 50px;
}

.performer .pic {
  width: 50px;
  height: 50px;
  float: left;
  padding-right: 5px;
}

.performer .name {
  font-weight: bold;
}

.card .time {
  float: right;
}

/* styles for checkin numpad */
div#numpad {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

span.num {
  display: inline-block;
  background-color: #03a9f4;
  width: 30%;
  margin: 1%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
}

span.num, div#numpad-input {
  font-size: 120%;
  font-weight: bold;
}

span.num#delete {
  background-color: #f44336;
}

span.num#enter {
  background-color: #4caf50;
}

div#numpad-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
}
