/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body {
  font-family: sans-serif;
  margin: 0;
}

#topbar {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f34235;
  color: white;
  box-shadow: 0 0 4px 4px #ccc;
  margin-bottom: 10px;
}

#topbar h1 {
  margin: 0.5em;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* border: 1px solid black; */
}

.login-provider {
  border: 1px solid black;
}
